.auth__form_container {
  width: 90%;
  max-width: 40rem;

  margin: 0 auto;
  padding: 3rem;

  text-align: center;
}

.auth__form_container h2 {
  margin-bottom: 3rem;

  font-family: 'Barriecito';
  color: #3b82f6;
  font-size: 2rem;
}

.button_container {
  margin-top: 2rem;
}
