@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL CSS ASSETS */
.center-item {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.background {
  background-color: #f7f8fb;
}
