.button_auth {
  padding: 0.5rem 1.5rem;
  margin-top: 0.7rem;
  width: 15rem;

  font-family: 'roboto';
  text-decoration: none;

  border: 2px solid #316df0;
  border-radius: 9999px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.26);

  background: white;
  color: #316df0;
  cursor: pointer;
}

.button_auth:focus {
  outline: none;
}

.button_auth:hover,
.button_auth:active {
  background: #316df0;
  border-color: #316df0;
  color: white;
}
.button_auth:disabled,
.button_auth:hover:disabled,
.button_auth:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
