.button_auth {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #7178d6;
  border-radius: 4px;
  background: #7178d6;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button_auth:focus {
  outline: none;
}

.button_auth:hover,
.button_auth:active {
  background: #676a9e;
  border-color: #676a9e;
}
.button_auth:disabled,
.button_auth:hover:disabled,
.button_auth:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
